
/* * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-general {
    display: grid;
    place-items: center;
    height: 100vh;
}

.container-items-form-login {
    width: 60%;
    height: 80%;
    display: flex;
    box-shadow: 0px 13px 53px -16px rgba(0,0,0,0.54);
    border-radius: 5px;
}

.container-login-left {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    background-color: aqua;
}

.container-login-left p {
    font-size: 30px;
}

.title-form {
    font-size: 20px;
    padding: 0 0 30px 0;
    font-weight: 600;
    display: block;
    text-align: center;
}

.container-login-rigth {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 80%;
}

input {
    width: 95%;
    display: block;
    margin: 10px auto;
    padding: 8px;
    border: 1px solid #838383;
    border-radius: 3px;
}

label {
    font-size: 15px;
    font-weight: 400;
}

.container-item-user, .container-item-pass {
    width: 70%;
    margin: 30px auto;
    display: block;
}


.container-item-btn {
    width: 70%;
    margin: auto;
} */

/* button {
    width: 100%;
    margin: 100px auto 0;
    display: block;
    padding: 10px 0;
    border: 0;
    border-radius: 4px;
    font-weight: 500;
    background-color: aqua;
} */