.h-15 {
    height: 92%
}

.h-15-table {
    height: calc();
}

.custom-scroll {
    overflow: auto;
}

.h-350 {
    height: 300px;
    max-height: 250px;
}

/* .custom-scroll::-webkit-scrollbar {
    display: none;
} */